<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="site-header">
        <div class="container">
            <a href="/" class="brand">Бортик</a>
            <ul class="nav-links">
                <li><a href="/menu">Меню</a></li>
                <li><a href="/basket">Кошик</a></li>
                <li><a href="/contact">Контакти</a></li>
                <li><a href="/login">Вхід</a></li>
                <li><a href="/register">Реєстрація</a></li>
                <li><a href="/logout">Вийти</a></li>
                {% if current_user.is_authenticated and current_user.username == 'Admin' %}
                <li><a href="{{ url_for('menu_check') }}">Керування меню</a></li>
                {% endif %}

            </ul>
        </div>
    </header>

    <main class="container">
        {% block maincontent %}
            <h2>No content</h2>
        {% endblock maincontent %}
    </main>

</body>
</html>