{% extends "base.html" %}

{% block title %}Замовлення{% endblock title %}

{% block maincontent %}
<h2>Замовлення</h2>
<div class="row">
    {% for order in orders %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">Замовлення № {{ order.id }}</h3>
                <p class="card-text"><strong>Страви:</strong> {{ order.name }}</p>
                <p class="card-text"><strong>Сума:</strong> {{ order.sum }} грн</p>
            </div>
        </div>
    </div>
    {% else %}
    <p>У вас поки немає оформлених замовлень!</p>
    {% endfor %}
</div>
{% endblock maincontent %}