<!-- profile.html -->
{% extends "base.html" %}

{% block title %}Профіль{% endblock title %}

{% block maincontent %}
<h2>Профіль</h2>
<form action="/profile" method="POST" class="form-card">
    <label for="username">Username</label>
    <input value="{{ current_user.username }}" type="text" name="username" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <button type="submit" class="btn">Save</button>
</form>
{% endblock maincontent %}